@use '../util'as *;

#abstract-logo {
    fill: var(--white);
    width: 500px;
}

#search-svg {
    fill: var(--white);
}

#burger-svg {
    fill: var(--white);
}

.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: rem(19) auto;
        max-width: rem(1900);

        &--search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: rem(19) auto;
            max-width: rem(1900);
            background-color: var(--white);
            height: 300px;
        }
    }

    &__logo {
        display: block;
        width: rem(126);
        height: 2rem;

        &-wrapper {
            display: flex;
            align-items: center;
            min-height: rem(50);
        }
    }

    &__helpcenter {
        font-size: rem(24);
        border-left: rem(2) solid #fff;
        line-height: rem(23);
        margin: rem(4) 0 0 0.8rem;
        padding: rem(2) 0 rem(4) 0.8rem;
    }

    &__buttons {
        display: flex;
        align-items: center;
        padding: rem(10) 0;
        @include breakpoint-up(large) {
            display: none;
        }
    }

    &__buttons--large {
        display: flex;
        align-items: center;
        min-height: rem(50);
        @include breakpoint-down(large) {
            display: none;
        }
    }

}