@use '../util'as *;

.button {
    border: 0;
    cursor: pointer;
    font-family: inherit;

}

.button--header {
    background-color: inherit;
    height: rem(50)
}

.button--search {
    width: rem(30);
    height: rem(30);
}

.button--burger {
    width: rem(32);
    height: rem(23);
    margin-left: rem(10);
}

.button--headerlarge {
    font-size: rem(24);
    color: var(--white);
    border-radius: rem(8);
}

.button--request {
    background-color: inherit;
    border: 1px solid var(--white);
    padding: rem(10) rem(22);
}

.button--sign {
    background-color: var(--blue);
    padding: rem(10) rem(34);
    margin-left: rem(16);
    transition: .3s;

    &:hover {
        color: var(--black);
        background-color: var(--white);
    }
}