#abstract-logo {
    fill: var(--white);
    width: 500px;
}

#search-svg {
    fill: var(--white);
}

#burger-svg {
    fill: var(--white);
}

#abstract-logo-footer {
    width: 100%;
    height: 100%;
    line-height: rem(28);

}