.abstract-logo {
    fill: var(--white);
    width: 126px;
    height: 32px;
}

.search-svg {
    fill: var(--white);
    width: 22px;
    height: 24px;

}

.burger-svg {
    fill: var(--white);
    width: 23px;
    height: 30px;
}

.abstract-logo-footer-svg {
    fill: var(--white);
    height: 36px;
    width: 120px;

}

.help-svg {
    fill: var(--white);
    width: 20px;
    height: 20px;
}