@use '../util'as *;

.abstract-logo {
    fill: var(--white);
    width: rem(126);
    height: rem(32);
}

.search-svg {
    fill: var(--white);
    width: rem(22);
    height: rem(24);

}

.burger-svg {
    fill: var(--white);
    width: rem(23);
    height: rem(30);
}

.abstract-logo-footer-svg {
    fill: var(--white);
    height: rem(36);
    width: rem(120);

}

.help-svg {
    fill: var(--white);
    width: rem(20);
    height: rem(20);
}